 {{!-- <div class="container"> --}}
 <div class="foot">
            <div class="row">
                <div class="col">
                    <footer class="footer mt-3" style="background-color:rgba(26, 23, 23, 0.781); ">
                        <h1>This is created by Abhay </h1>
                    </footer>
                </div>
           </div>
 </div>
{{!-- </div> --}}