 {{!-- <div class="container" style="background-color:aqua;"> --}}
        <div class="" style="background-color:aqua;">
            <div class="row">
                <div class="col-md-10 col-12 ">
                  <nav class="navbar navbar-expand-lg navbar-light">
                    <a href="" class="navbar-brand ml-4 brandname"><i class="fas fa-snowflake"></i><span style="color:rgb(27, 78, 102) ; ">  Weather </span><i class="fas fa-snowflake"></i></a>
                    <button class='navbar-toggler' data-toggle="collapse" data-target="#navcreate"><span class="navbar-toggler-icon"></span></button>
            
                    <div id="unli" class="collapse navbar-collapse " id="navcreate">
                        <ul class=" navbar-nav ml-4 ">
                            <li class="nav-item" ><a href="/" style="color:rgb(102, 60, 170);" class="nav-link active">Home</a></li>
                            <li class="nav-item"><a href="/weather" style="color:rgb(102, 60, 170);" class="nav-link">Weather</a></li>
                            <li class="nav-item"><a href="/about" class="nav-link" style="color:rgb(102, 60, 170);">About</a></li>
                            <li class="nav-item"><a href="/login" class="nav-link"style="color:rgb(102, 60, 170);" >Login</a></li>
                            <li class="nav-item"><a href="/logout" class="nav-link"style="color:rgb(102, 60, 170);" >Logout</a></li>
                            <li class="nav-item"><a href="/register" class="nav-link" style="color:rgb(102, 60, 170);">Registration</a></li>
                        </ul>
                        <!-- <form action="" class="form-inline ml-auto">
                            <input type="search" class="form-control mr-2 p-auto" placeholder="search....">
                            <button class="btn btn-outline-success p-auto">Search</button>
                        </form> -->
                    </div>
            </nav>
                </div>
            </div>
        </div>
{{!-- </div>         --}}